*{
    box-sizing: border-box;
}

body
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    background-color: white;

}


.contenedor
{

    width: 90%;
    max-width: 1000px;
  
    margin: 0 auto;
    overflow: hidden;
}




/* -------------- HEADER --------------------- */


header
{
    background:url(/img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-height: 600px;
}

header .menu
{

    margin: 40px 0;
    text-align: right;
}

header .menu a
{

    margin: 0 20px;
    color: white;
    padding-bottom: 9px;
    font-size: 1em;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

header .menu a:hover
{

    border-bottom: 2px solid white;
}


header .contenedor-texto
{
    display: flex;
    margin: 190px 0;
    justify-content: center;
    align-content: center;
}

header .contenedor-texto .texto
{
    border: 2px solid rgba(255, 255,255,0.2);
    border-radius: 3px;
    display: inline-block;
    text-align:center;
    padding: 20px 60px;
}

header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2
{
color: white;
font-weight: 300;
margin: 0;
}

header .contenedor-texto .texto .nombre
{
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 50px;
}
header .contenedor-texto .texto .profesion
{
   
    font-size: 25px;
    line-height: 25px;
}


/* -------------- MAIN ---------------- */
.main .contenedor
{
    overflow: visible;

}


.main .acerca
{


text-align: center;



}

.main .acerca .foto 
{


    margin-top: -60px;

}

.main .acerca .foto img
{

    vertical-align: top;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.2);
}
.main .acerca .texto
{

    color: #5a5a5a;
    font-weight: 600;
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto;


}

.main .acerca .texto .titulo
{

font-size: 34px;
margin-bottom: 40px;
font-weight: 300px;
color: #dd820d;
line-height: 34px;
text-align: center;


}

.main .acerca .texto .bold
{

    color: #3895ea;
    text-decoration: underline;


}

.main .trabajos
{
    background: #f2f2f2;
    padding: 60px 0;
}


.main .trabajos .contenedor
{

    overflow: hidden;
}


.main .trabajos .titulo
{  
    font-size: 34px;
margin-bottom: 40px;
font-weight: 300px;
color: #323068;
line-height: 34px;
text-align: center;
}


.main .trabajos .contenedor-trabajos
{

    display: flex;
    display: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


.main .trabajos .contenedor-trabajos .trabajo
{
    text-align: center;
    width: 23%;
}

.main .trabajos .contenedor-trabajos .trabajo .thumb
{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.main .trabajos .contenedor-trabajos .trabajo .thumb img
{

    width: 100%;
    vertical-align: top;
    border-radius: 15px;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion
{

    text-align: center;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion .nombre
{

    font-weight: 700px;
    color: #3895ea;
    margin-bottom: 10px ;

}

.main .trabajos .contenedor-trabajos .trabajo .descripcion .categoria
{

    font-size: 14px;
    color: #636363;
    text-align: center;
}

/* --------------- FOOTER ------------------------------- */

footer .contacto
{

padding: 60px 0;


}

footer .contacto .titulo
{
    font-size: 34px;
    margin-bottom: 40px;
    font-weight: 300px;
    color: #3895ea;
    line-height: 34px;
    text-align: center;
}

footer .contacto .formulario
{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"],
footer .contacto .formulario textarea
{

border: 2px solid #cecece;
border-radius: 5px;
padding: 15px 20px;
font-size: 20px;
color: #a4a4a4;

}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"]
{
width: 49%;
margin-bottom: 15px;
}


footer .contacto .formulario textarea
{
    width:100%;
    height: 100px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 300px;
    margin-bottom: 15px;
}

footer .contacto .formulario .boton

{
margin-top: 15px;
margin: 0 auto;
background-color: #3895ea;
color: white;
border: none;
border-radius: 3px;
padding: 15px 48px;
cursor: pointer;

}



footer .redes
{

margin: 30px 20px;
text-align: center;
font-size: 40px;
color: #323068;
}

footer .redes .contenedor a
{
    text-decoration: none;
    margin: 0px 10px;
}

